In [13]:
import pandas as pd
import numpy as np

dtype={
    'at_fault': bool,
    'case_id': int,
    'cellphone_use': str,
    'cellphone_use': str,
    'financial_responsibility': str,
    'hazardous_materials': str,
    'id': int,
    'movement_preceding_collision': str,
    'other_associate_factor_1': str,
    'other_associate_factor_2': str,
    'party_age': int,
    'party_drug_physical': str,
    'party_number': int,
    'party_safety_equipment_1': str,
    'party_safety_equipment_2': str,
    'party_sex': str,
    'party_sobriety': str,
    'party_type': str,
    'school_bus_related': str,
    'statewide_vehicle_type': str,
    'statewide_vehicle_type': str,
    'statewide_vehicle_type': str,
 'statewide_vehicle_type': str,
}

In [59]:
parties_data = pd.read_csv("CSV-2018/parties2018.csv")

/usr/local/Caskroom/miniconda/base/envs/DatabaseEnv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (4,13,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [60]:
victims_data = pd.read_csv("CSV-2018/victims2018.csv")

/usr/local/Caskroom/miniconda/base/envs/DatabaseEnv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [61]:
collisions_data = pd.read_csv("CSV-2018/collisions2018.csv")

/usr/local/Caskroom/miniconda/base/envs/DatabaseEnv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [40]:
case_id = 5
parties_data_case = parties_data[parties_data["case_id"] == case_id]
victims_data_case = victims_data[victims_data["case_id"] == case_id]
collisions_data_case = collisions_data[collisions_data["case_id"] == case_id]

In [41]:
parties_data_case

,at_fault,case_id,cellphone_use,financial_responsibility,hazardous_materials,id,movement_preceding_collision,other_associate_factor_1,other_associate_factor_2,party_age,...,party_number,party_safety_equipment_1,party_safety_equipment_2,party_sex,party_sobriety,party_type,school_bus_related,statewide_vehicle_type,vehicle_make,vehicle_year
7,1,5.0,D,Y,NaN,15,proceeding straight,N,NaN,44.0,...,1,G,NaN,male,A,driver,NaN,truck or truck tractor with trailer,FREIGHTLINER,2001.0

In [42]:
victims_data_case

,case_id,id,party_number,victim_age,victim_degree_of_injury,victim_ejected,victim_role,victim_safety_equipment_1,victim_safety_equipment_2,victim_seating_position,victim_sex
1,5.0,4,1,44.0,severe injury,0.0,1,G,NaN,1.0,male

In [43]:
collisions_data_case

,case_id,collision_date,collision_severity,collision_time,county_city_location,hit_and_run,jurisdiction,lighting,location_type,officer_id,...,primary_collision_factor,process_date,ramp_intersection,road_condition_1,road_condition_2,road_surface,tow_away,type_of_collision,weather_1,weather_2
4,5.0,2002-02-14,severe injury,11:35:00,1500,not hit and run,9420.0,daylight,NaN,13851,...,vehicle code violation,2003-07-28,NaN,normal,NaN,dry,1.0,overturned,clear,NaN

In [86]:
options = ["B", "C", "D", None]
parties_data_test = parties_data[~(parties_data["cellphone_use"].isin(options) | parties_data["cellphone_use"].isnull().values.any())]

In [87]:
parties_data_test

Empty DataFrame
Columns: [at_fault, case_id, cellphone_use, financial_responsibility, hazardous_materials, id, movement_preceding_collision, other_associate_factor_1, other_associate_factor_2, party_age, party_drug_physical, party_number, party_safety_equipment_1, party_safety_equipment_2, party_sex, party_sobriety, party_type, school_bus_related, statewide_vehicle_type, vehicle_make, vehicle_year]
Index: []

[0 rows x 21 columns]

In [68]:
len(parties_data)

7286606