In [2]:
import pandas as pd
import numpy as np

In [3]:
dtype_parties={
    'at_fault': bool, # bool or floats
    'case_id': np.uint64, # cannot use in tsince biggest case id is 9.870011e+18, np.uint64: 64-bit unsigned integer (from 0 to 2**64-1)
    'cellphone_use': str,
    'cellphone_use': str,
    'financial_responsibility': str,
    'hazardous_materials': str,
    'id': int,
    'movement_preceding_collision': str,
    'other_associate_factor_1': str,
    'other_associate_factor_2': str,
    'party_age': pd.Int16Dtype(),
    'party_drug_physical': str,
    'party_number': int,
    'party_safety_equipment_1': str,
    'party_safety_equipment_2': str,
    'party_sex': str,
    'party_sobriety': str,
    'party_type': str,
    'school_bus_related': str,
    'statewide_vehicle_type': str,
    'vehicle_make': str,
    'vehicle_year': str,
}#check what type to give for integers
#int does not allow nulls
#np.uint64 allows up to 64 bytes (necessary for case id)
#pd.Int16/32/64Dtype() allows nulls

In [241]:
nrows = 5

###### Delete nrows ######

sep=',' by default 

header='0' by default (first line is column names)

should we use index_col=0 for collisions data

usecols to make sure we're reading correct columns

add dtype

use converters : Dict of functions for converting values in certain columns. Keys can either be integers or column labels.

??na_values / keep_default_na / na_filter

check with sql if need to infer_datetime_format/keep_date_col/date_parser/dayfirst/cache_dates

comment is it useful?

error_bad_lines/warn_bad_lines

In [242]:
#read last line
# f1 = open("CSV-2018/parties2018.csv", "r")
# last_line = f1.readlines()[-1]
# print(last_line)
# f1.close()

0,9870011231152508671,,Y,,16432243,"making left turn",A,,64,,2,G,,male,A,driver,,"passenger car",CHRYSLER,1987

7286606

In [1]:
parties_data = pd.read_csv("CSV-2018/parties2018.csv",nrows=7286606,dtype=dtype_parties,usecols=dtype_parties.keys())

NameError: name 'pd' is not defined

In [244]:
# print(len(parties_data.columns))
print(parties_data)

         at_fault              case_id cellphone_use financial_responsibility  \
0            True                    1             C                        Y
1           False                    1             D                        O
2           False                    2           NaN                        O
3           False                    3             D                        Y
4            True                    3             D                      NaN
...           ...                  ...           ...                      ...
7286601      True  9870011226102009803             D                        Y
7286602     False  9870011226102009803             D                        Y
7286603      True  9870011228210011458             D                        N
7286604      True  9870011231152508671           NaN                        Y
7286605     False  9870011231152508671           NaN                        Y

        hazardous_materials        id movement_preceding_collision  \
0                       NaN         8                        other
1                       NaN         9                       parked
2                       NaN        10          proceeding straight
3                       NaN        11          proceeding straight
4                       NaN        12          proceeding straight
...                     ...       ...                          ...
7286601                 NaN  16432239             making left turn
7286602                 NaN  16432240          proceeding straight
7286603                 NaN  16432241                 ran off road
7286604                 NaN  16432242        passing other vehicle
7286605                 NaN  16432243             making left turn

        other_associate_factor_1 other_associate_factor_2  party_age  ...  \
0                              L                      NaN         84  ...
1                              N                      NaN       <NA>  ...
2                              O                      NaN       <NA>  ...
3                              N                      NaN         20  ...
4                              N                      NaN       <NA>  ...
...                          ...                      ...        ...  ...
7286601                        N                      NaN         66  ...
7286602                        N                      NaN         20  ...
7286603                        N                      NaN       <NA>  ...
7286604                        A                        F         19  ...
7286605                        A                      NaN         64  ...

        party_number  party_safety_equipment_1 party_safety_equipment_2  \
0                  1                         G                      NaN
1                  2                       NaN                      NaN
2                  1                       NaN                      NaN
3                  1                         G                      NaN
4                  2                       NaN                      NaN
...              ...                       ...                      ...
7286601            1                         G                      NaN
7286602            2                         G                      NaN
7286603            1                         B                      NaN
7286604            1                         G                      NaN
7286605            2                         G                      NaN

        party_sex party_sobriety      party_type school_bus_related  \
0          female              A          driver                NaN
1             NaN              H  parked vehicle                NaN
2             NaN              H           other                NaN
3          female              A          driver                NaN
4             NaN              G          driver                NaN
...           ...            ...             ...                ...
7286601      male              A          driver                NaN
7286602    female              A          driver                NaN
7286603       NaN              G          driver                NaN
7286604    female              A          driver                NaN
7286605      male              A          driver                NaN

        statewide_vehicle_type vehicle_make vehicle_year
0                passenger car         FORD         2000
1                passenger car        BUICK         1992
2        pickup or panel truck       TOYOTA          NaN
3                passenger car         FORD         1995
4        pickup or panel truck          NaN          NaN
...                        ...          ...          ...
7286601          passenger car     CADILLAC         1994
7286602          passenger car     CHRYSLER         1991
7286603          passenger car    CHEVROLET          NaN
7286604          passenger car     CADILLAC         1991
7286605          passenger car     CHRYSLER         1987

[7286606 rows x 21 columns]

In [248]:
print(parties_data[7286605:]['case_id'])
print(parties_data[7286605:]['id'])
print(parties_data[7286605:]['party_age'])
print(parties_data[7286605:]['party_number'])

7286605    9870011231152508671
Name: case_id, dtype: uint64
7286605    16432243
Name: id, dtype: int64
7286605    64
Name: party_age, dtype: Int16
7286605    2
Name: party_number, dtype: int64

                                ------------------------------------------

In [250]:
victims_data = pd.read_csv("CSV-2018/victims2018.csv", nrows=nrows)

In [251]:
f1 = open("CSV-2018/parties2018.csv", "r")
last_line = f1.readlines()[-1]
print(last_line)
f1.close()

0,9870011231152508671,,Y,,16432243,"making left turn",A,,64,,2,G,,male,A,driver,,"passenger car",CHRYSLER,1987

In [208]:
collisions_data = pd.read_csv("CSV-2018/collisions2018.csv", nrows=nrows)

In [41]:
# print(victims_data)

In [42]:
# print(collisions_data)

In [43]:
case_id = 5
parties_data_case = parties_data[parties_data["case_id"] == case_id]
victims_data_case = victims_data[victims_data["case_id"] == case_id]
collisions_data_case = collisions_data[collisions_data["case_id"] == case_id]

In [44]:
parties_data_case

Empty DataFrame
Columns: [at_fault, case_id, cellphone_use, financial_responsibility, hazardous_materials, id, movement_preceding_collision, other_associate_factor_1, other_associate_factor_2, party_age, party_drug_physical, party_number, party_safety_equipment_1, party_safety_equipment_2, party_sex, party_sobriety, party_type, school_bus_related, statewide_vehicle_type, vehicle_make, vehicle_year]
Index: []

[0 rows x 21 columns]

In [42]:
victims_data_case

,case_id,id,party_number,victim_age,victim_degree_of_injury,victim_ejected,victim_role,victim_safety_equipment_1,victim_safety_equipment_2,victim_seating_position,victim_sex
1,5.0,4,1,44.0,severe injury,0.0,1,G,NaN,1.0,male

In [43]:
collisions_data_case

,case_id,collision_date,collision_severity,collision_time,county_city_location,hit_and_run,jurisdiction,lighting,location_type,officer_id,...,primary_collision_factor,process_date,ramp_intersection,road_condition_1,road_condition_2,road_surface,tow_away,type_of_collision,weather_1,weather_2
4,5.0,2002-02-14,severe injury,11:35:00,1500,not hit and run,9420.0,daylight,NaN,13851,...,vehicle code violation,2003-07-28,NaN,normal,NaN,dry,1.0,overturned,clear,NaN

In [86]:
options = ["B", "C", "D", None]
parties_data_test = parties_data[~(parties_data["cellphone_use"].isin(options) | parties_data["cellphone_use"].isnull().values.any())]

In [87]:
parties_data_test

Empty DataFrame
Columns: [at_fault, case_id, cellphone_use, financial_responsibility, hazardous_materials, id, movement_preceding_collision, other_associate_factor_1, other_associate_factor_2, party_age, party_drug_physical, party_number, party_safety_equipment_1, party_safety_equipment_2, party_sex, party_sobriety, party_type, school_bus_related, statewide_vehicle_type, vehicle_make, vehicle_year]
Index: []

[0 rows x 21 columns]

In [68]:
len(parties_data)

7286606