In [2]:
import pandas as pd
import numpy as np

In [90]:
dtype_victims={
    'case_id': np.uint64, # cannot use in tsince biggest case id is 9.870011e+18, np.uint64: 64-bit unsigned integer (from 0 to 2**64-1)
    'id': int,
    'party_number': int,
    'victim_age': pd.Int16Dtype(),
    'victim_degree_of_injury': str,# map to ints
    'victim_ejected': pd.Int16Dtype(),
    'victim_role': str,# map to ints
    'victim_safety_equipment_1': str,# map char to ints
    'victim_safety_equipment_2': str,# map char to ints
    'victim_seating_position': str,#pd.Int16Dtype(),# int (use smallest int type)
    'victim_sex': str, #char
}

In [91]:
nrows = 5

###### Delete nrows ######

use converters : Dict of functions for converting values in certain columns. Keys can either be integers or column labels.

??na_values / keep_default_na / na_filter

check with sql if need to infer_datetime_format/keep_date_col/date_parser/dayfirst/cache_dates

comment is it useful?

error_bad_lines/warn_bad_lines

4082685

In [101]:
victims_data = pd.read_csv("CSV-2018/victims2018.csv",dtype=dtype_victims,usecols=dtype_victims.keys())

In [102]:
victims_data

,case_id,id,party_number,victim_age,victim_degree_of_injury,victim_ejected,victim_role,victim_safety_equipment_1,victim_safety_equipment_2,victim_seating_position,victim_sex
0,3,3,1,21,no injury,0,2,G,NaN,3,male
1,5,4,1,44,severe injury,0,1,G,NaN,1,male
2,8,5,1,59,no injury,0,2,G,NaN,3,female
3,8,6,2,31,no injury,0,2,G,NaN,3,male
4,9,7,2,14,complaint of pain,0,2,C,NaN,6,female
...,...,...,...,...,...,...,...,...,...,...,...
4082680,9870011226102009803,8817531,2,20,other visible injury,0,1,G,NaN,1,female
4082681,9870011231152508671,8817532,1,27,complaint of pain,0,2,H,NaN,3,female
4082682,9870011231152508671,8817533,2,74,complaint of pain,0,2,G,NaN,3,female
4082683,9870011231152508671,8817534,2,64,complaint of pain,0,1,G,NaN,1,male
4082684,9870011231152508671,8817535,2,45,no injury,0,6,G,NaN,6,female

First take memory usage 

Index                             128

case_id                      32661480

id                           32661480

party_number                 32661480

victim_age                   12248055

victim_degree_of_injury      32661480

victim_ejected               12248055

victim_role                  32661480

victim_safety_equipment_1    32661480

victim_safety_equipment_2    32661480

victim_seating_position      32661480

victim_sex                   32661480

dtype: int64

In [112]:
victims_data.memory_usage()

Index                             128
case_id                      32661480
id                           32661480
party_number                 32661480
victim_age                   12248055
victim_degree_of_injury      32661480
victim_ejected               12248055
victim_role                  32661480
victim_safety_equipment_1    32661480
victim_safety_equipment_2    32661480
victim_seating_position      32661480
victim_sex                   32661480
dtype: int64

In [113]:
victims_data['victim_degree_of_injury']

0                     no injury
1                 severe injury
2                     no injury
3                     no injury
4             complaint of pain
                   ...
4082680    other visible injury
4082681       complaint of pain
4082682       complaint of pain
4082683       complaint of pain
4082684               no injury
Name: victim_degree_of_injury, Length: 4082685, dtype: object

In [121]:
choices = pd.read_csv('tables/Victims/victim_degree_of_injury.csv')
choices

   id               description
0   1                    Killed
1   2             Severe Injury
2   3      Other Visible Injury
3   4         Complaint of Pain
4   5  Suspected Serious Injury
5   6    Suspected Minor Injury
6   7           Possible Injury
7   0                 No Injury

In [124]:
set(victims_data['victim_degree_of_injury']).issubset(set(choices))

False

In [126]:
set(victims_data['victim_degree_of_injury'])

{'7',
 'complaint of pain',
 'killed',
 'no injury',
 'other visible injury',
 'severe injury'}

In [130]:
set(choices).difference(set(victims_data['victim_degree_of_injury']))

{'description', 'id'}